@import url('https://fonts.googleapis.com/css?family=Work+Sans:regular,600,800&display=swap');

.app {
  min-height: 100vh;
  display: flex;
  background-image: url('../public/background.png');
  background-size: cover;
  background-position: center;
}
